.hidden{
	opacity: 0;
	position: absolute;
	left:-999999px;
}



table#task-table{
	background-color: #d5e0d9;
	color:black;
	border-left: 0;
	border-right: 0;
}


table thead tr th{
	 position: sticky; top: 0;
}

div.table-wrapper {
  max-height: 400px;
  overflow-y: scroll;

}

button.tasktools{
	display: inline-flex;

}


div.tools-container{
	display: inline-flex;
	padding: 5px;
}

