#addTaskModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addTaskLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#addTaskLabel.modal-title Task Details
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				form
					.form-group
						label.col-form-label(for='task-name' style="float:left") Name:
						input#task-name.form-control(type='text')(min-length="3" max-length="300")
					.form-group
						label.col-form-label(for='task-status' style="float:left") Status:
						select#task-status.custom-select
							option(value='1') Pending
							option(value='2') Ongoing
							option(value='3') Completed
					.form-group
						label.col-form-label(for='desc-text' style="float:left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Description:
						textarea#desc-text.form-control(min-length="3" max-length="300")
				.modal-footer
					button.btn.btn-secondary(type='button' data-dismiss='modal') Close
					button#submitTask.btn.btn-primary(type='submit' onclick="submitTask()") Submit