#viewTaskModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addTaskLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#viewTaskLabel.modal-title Task Details
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;

			.modal-body
				form
					.form-group
						label.col-form-label(for='task-name' style="float:left") Name:
						input#task-name-view.form-control(type='text' readonly)
					.form-group
						label.col-form-label(for='desc-text' style="float:left" ) Description:
						textarea#desc-text-view.form-control(readonly)
			.modal-footer
				button.btn.btn-secondary(type='button' data-dismiss='modal') Close
				